[Unit]
Description=OrangePi Bluetooth Speaker Service
After=bluetooth.service network.target

[Service]
ExecStart=/usr/bin/python3 /home/orangepi/bluetooth-speaker.py
WorkingDirectory=/home/orangepi
Restart=always

[Install]
WantedBy=multi-user.target
