[Unit]
Description=Disable Bluetooth Pairable
After=bluetooth.target
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bt-no-pair.sh

[Install]
WantedBy=multi-user.target

