[Unit]
Description=Bluetooth Scanner Service for Nearby Devices
After=bluetooth.target network.target
Wants=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/nets01/scan-bluetooth-device.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target